
html, body {
	margin: 0px;
	padding: 0px;
	background-color: #06090f;
}

a {
	color: inherit;
	text-decoration: inherit;
}

#header, #footer, .bigtitle, .title {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	cursor: default;
}

#wrapper {
	width: 80%;
	min-width: 600px;
	max-width: 1024px;
	margin: 0px auto;
}

#header {
	height: 57px;
	width: 80%;
	max-width: 1024px;
	display: table;
	float: left;
	position: fixed;
	
	background-color: #06090f;
	border-bottom: 3px solid #cbd0d3;
	
	font-family: 'Titillium Web', sans-serif;
	color: #afb7bc;
	text-shadow: -1px -1px 0px #1a1d1e;
	white-space: nowrap;
}

#logo {
	padding: 7px 30px 0px 42px;
	display: table-cell;
	text-transform: uppercase;
}

#logo:hover, #logo:focus {
	color: #ffffff;
	cursor: pointer;
	outline: none;
}

#logo:active {
	background-color: #0c111d;
	color: #ffffff;
	cursor: pointer;
}

#logo-top {
	padding-right: 0.1em;
	text-align: right;
	font-weight: 300;
	line-height: 100%;
}

#logo-bottom {
	font-size: 200%;
	font-weight: 600;
	line-height: 70%;
}

.button {
	height: 100%;
	padding: 4px 13px;
	display: table-cell;
	vertical-align: bottom;
	
	font-weight: 600;
	font-size: 125%;
	text-transform: uppercase;
}

.button:hover, .button:focus {
	background-color: #0c111d;
	color: #ffffff;
	cursor: pointer;
	outline: none;
}

.button:active {
	background-color: #d9dcdf;
	color: #4c6bb5;
	cursor: pointer;
}

#space {
	display: table-cell;
	width: 100%;
}

#content {
	height: 100%;
	width: auto;
	padding: 60px 42px 10px 42px;
}

.bigtitle {
	margin: 13px 10px 17px 42px;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 600;
	font-size: 210%;
	color: #cbd0d3;
	text-shadow: -1px -1px 0px #1a1d1e;
}

.post {
	margin: -4px 0px 31px 0px;
	padding: 19px 19px 19px 42px;
	background-color: #070b14;
	color: #cbd0d3;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 105%;
	line-height: 1.5;
}

.title {
	margin-bottom: 10px;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 600;
	font-size: 170%;
	color: #e7e9eb;
	text-shadow: -1px -1px 0px #1a1d1e;
}

#footer {
	margin: -21px 0px 13px 0px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 90%;
	text-align: right;
	color: #343a3e;
}
